
/* Bg img Css */
body{
    background:url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}

/*Hero img css  */

.result-img{
    width: 100%;
    height: 100%;
}
