/* Bg img css */
body{
    background:url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover
}

/* Carousel Img css */
.carouselimg{
    height: 70vh;
    min-height:200px;
    max-height: 70vw;
    width: 70%;
    min-width: 200px;
    max-width: 100vh;


}

/* Carousel contianer Css */
#caro{
    height: 70vh;
    min-height:200px;
    max-height: 70vw;
    width: 70%;
    min-width: 200px;
    max-width: 100vh;

}

/*Hero img css  */

.result-img{
    width: 100%;
    height: 100%;
}

